# synthetic Detector Data Analysis
This notebook is aimed to analyse data set which is a mimic of detector measurments of energy and momentum. We will use modern python based data analysis workflow.

## Dataset description

Each row in the dataset represents one detector event.
The dataset contains 1000 events with the following quantities:

- Energy (GeV), generated from a Gaussian distribution
- Momentum (GeV), generated independently of energy
- Event ID as a simple index

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [1]:
%%capture
!pip install  numpy pandas matplotlib

In [5]:

# TODO: set a random seed (any integer)
np.random.seed(12)

# TODO: number of events
n_events = 10000

# TODO: generate synthetic energy data (Gaussian)
energy = np.random.normal(
    loc= 15,      # mean energy (GeV)
    scale= 10,    # energy resolution (GeV)
    size=n_events
)

# TODO: generate synthetic momentum data (independent)
momentum = np.random.uniform(
    low= 0,      # minimum momentum (GeV)
    high=100,     # maximum momentum (GeV)
    size=n_events
)

# Create DataFrame
df = pd.DataFrame({
    "event_id": np.arange(n_events),
    "energy": energy,
    "momentum": momentum
})

# Display first few rows
df.head()

   event_id     energy   momentum
0         0  19.729858  64.494311
1         1   8.185741  65.204342
2         2  17.424395  88.289916
3         3  -2.007356  74.527579
4         4  22.531428  52.828629

In [6]:
df.describe()

          event_id        energy      momentum
count  10000.00000  10000.000000  10000.000000
mean    4999.50000     14.878503     49.941830
std     2886.89568      9.943057     28.844291
min        0.00000    -25.110492      0.003532
25%     2499.75000      8.075503     24.907234
50%     4999.50000     14.784472     49.717636
75%     7499.25000     21.681986     74.940374
max     9999.00000     53.085663     99.994576